include header
body
  section
    h1 スライドショーいろいろ

  section
    .sliderBox
      img.slide(src="https://placehold.jp/3d6070/ffffff/600x300.png?text=first", alt="")
      img.slide(src="https://placehold.jp/3d5070/ffffff/600x300.png?text=second", alt="")
      img.slide(src="https://placehold.jp/3d4070/ffffff/600x300.png?text=third", alt="")
      img.slide(src="https://placehold.jp/3d3070/ffffff/600x300.png?text=forth", alt="")
      img.slide(src="https://placehold.jp/3f0070/ffffff/600x300.png?text=fifth", alt="")
    a(href="./index.pug") もどる
script(src="./script/slider.js")